.shopTitle {
    margin-top: 80px;
    text-align: center;
    font-size: 20px;
}

.products {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    padding: 20px;
    place-items: center;
}

.prod {
    width: 250px;
    height: auto;
    border-radius: 10px;
    padding: 20px;
    background: #f7f7f7;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
     gap: 5px; 
}

.prod img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}
.prod:hover{
    transition: 0.3s ease-in;
    cursor: pointer;
}

.prod .description {
    text-align: center;
    margin-top: 10px;
}

.cartBtn{
    background-color: transparent;
    border: 1px solid rgb(19,19,19);
    min-width: 40px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 15px;
     font-size: 12px; 
    font-weight: 300;
     cursor: pointer;
}
.cartBtn:hover{
    background-color: rgba(19, 19, 19);
    color: white;
    cursor: pointer;
}
