* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    width:100%;
    height:60Px;
    background-color: black;

}
.Links{
    
    display: flex;
    justify-content: flex-end;
    align-items: center;
   padding: 10px;
   
    
}

.Links a{
text-decoration: none;
 color:white;
 padding: 5px;

}